<!Doctype html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title> Subject Details</title>
     <link rel="stylesheet" href="../learn-git/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     <script src="https://unpkg.com/vue"></script>
     <script src="../learn-git/lessons.js"></script><!-- Link to lessons File-->

</head>  





<body>
     <div id="body" >
          <!--Main body for background colour-->
          <div id="app" > 

               <input placeholder="Search..." icon="search" v-model="filter">
     
               

               <button v-on:click='showCheckout'  v-bind:disabled="!cartItemCount"> {{ cartItemCount }} <span class = "fas fa-cart-plus"></span> Shopping Cart</button>


               <p>
                                     
                     <input v-on:click='acendingPriceSort' type="radio"  id='acending' value='acending' v-model="sort" >
                     <label for="pricesort">Price Ascending </label>
                   
               
                     <input v-on:click='acendingLocationSort' type="radio" value='locationacending' v-model="sort" >
                     <label for="locationsort">Location Ascending</label>


                     <input v-on:click='acendingSubjectSort' type="radio" value='subjectacending' v-model="sort">
                     <label for="locationsort">Subject Ascending </label>

                     <input v-on:click='acendingSpaceSort' type="radio" value='spaceacending' v-model="sort">
                     <label for="locationsort">Space Ascending </label>
                    </p>
                  
                    <input v-on:click='decendingPriceSort' type="radio"  id='decending' value='decending' v-model="sort">
                    <label for="decending">Price Descending</label>

                    <input v-on:click='decendingLocationSort' type="radio" value='locationdcending' v-model="sort">
                    <label for="desceendingsort">Location Descending</label>

                    <input v-on:click='decendingSubjectSort' type="radio" value='subjectdcending' v-model="sort">
                    <label for="desceendingSsort">Subject Descending</label>

                    <input v-on:click='decendingSpaceSort' type="radio" value='spacedcending' v-model="sort">
                    <label for="desceendingSsort">Space Descending</label>
               </p>

      

 
               <!-- data for displaying lessons -->

               <h1>School Club</h1>
          
               <div v-if='showProduct'>

               <div v-for="lesson in sortlesson">
              
               <img v-bind:src="lesson.image">
               <p>Subject: {{lesson.subject}}</p><!-- Get data from object using v-text-->
               <p>Location: {{lesson.location}}</p><!-- Get data from object-->
               <p>Price: {{lesson.price}}</p><!-- Get data from object-->
               <p>Space: {{lesson.space}}</p><!-- Get data from object-->
               <span v-for='n in lesson.rating'>★</span>
               <span v-for='n in 5 - lesson.rating'>☆</span>
               <br>

               <button type="button" v-on:click="addItem(lesson.id)" v-bind:disabled="!canAddToCart(lesson.id)">Add To Cart</button>

               <span v-if='lesson.availableInventory === cartCount(lesson.id)'> All out!</span>

               <span v-else-if='lesson.availableInventory - cartCount(lesson.id) < 5'>
                    Only {{lesson.availableInventory - cartCount(lesson.id)}} left!
               </span>

               <span v-else>Buy Now!</span>
               <!-- <button disabled v-else>Add To Cart</button> -->
                       

          </div>

          </div>

          <div v-else>



               <div v-if="cartCount(number)" v-for="(lesson,number) in lessons" :key="number">

               
                    <img v-bind:src="lesson.image">
                    <p>Subject: {{lesson.subject}}</p><!-- Get data from object using v-text-->
                    <p>Location: {{lesson.location}}</p><!-- Get data from object-->
                    <p>Price: {{lesson.price}}</p><!-- Get data from object-->
                    <p>Space: {{lesson.space}}</p><!-- Get data from object-->
                    <span v-for='n in lesson.rating'>★</span>
                    <span v-for='n in 5 - lesson.rating'>☆</span>
                    <br>
     
                    <button type="button" v-on:click="removeItem(lesson.id)" >Remove</button>

                    <span v-if='lesson.availableInventory === cartCount(lesson.id)'> All out!</span>

                    <span v-else-if='lesson.availableInventory - cartCount(lesson.id) < 5'>
                         Only {{lesson.availableInventory - cartCount(lesson.id)}} left!
                    </span>
          
                    <span v-else>Buy Now!</span>

                    
                    
               </div>

               <!-- data displayed for checkout -->

               <h1>Checkout</h1>

               <p>
                    <strong>First Name:</strong>
                    <input v-model='order.firstName'>
                 
               </p>

               <p>
                    <strong>Last Name:</strong>
                    <input v-model='order.lastName' >
                
               </p>

               <p>
                    <strong>Address:</strong>
                    <input v-model='order.address'>
                    
               </p>

               <p>
                    <strong>Mobile Number:</strong>
                    <input v-model='order.mobileNum'>
                   
               </p>

               <p>
                    <strong>City:</strong>
                    <input v-model='order.city'>
                
               </p>

               <p>
                    <strong>State:</strong>
                    <select v-model="order.state">
                         <option disabled value="">State</option>
                        

                         <option v-for='(state, key) in states' :value='state'> {{key}}

                         </option>
                    </select>
               </p>

               <p> 
                    <strong>Zip/Postal Code:</strong>
                    <input v-model.number="order.zip" type="number"/>
               </p>

           
            <!-- data displayed for order information -->


               <h3>Order Information</h3>

               <p>First Name: {{order.firstName}}</p>
               <p>Last Name: {{order.lastName}}</p>
               <p>Address: {{order.address}}</p>
               <p>Mobile Number: {{order.mobileNum}}</p>
               <p>City: {{order.city}}</p>
               <p>Zip: {{order.zip}}</p>
               <p>State: {{order.state}}</p>
              

               <button v-on:click="display" v-bind:disabled='submitForm'>Checkout</button>
          
               <p > {{success}} </p>


          </div>
               
          
           </div>

         

     </div>
     
<script src="../learn-git/index.js"></script><!-- Link to JS File-->
</body>


